@page
@model Elias.Admin.Pages.LoginModel
@{
    ViewData["Title"] = "ورود";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود به پنل</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <div class="box">
            <form action="#" method="post">
                <label for="username">Username</label><br>
                <input type="text" name="uname" id="uname" placeholder="Enter Username" class="input-box">
                <br><br>
                <label for="username">Password</label><br>
                <input type="password" name="uname" id="uname" placeholder="Enter Password" class="input-box"><br>
                <div class="forget">
                    <label class="checkbox-label">
                        <input type="checkbox">
                        <span class="checkbox-custom "></span>
                        <span class="label-text">Remember me</span>
                    </label>
                    <span class="fg">
                        <a href="#"> Forget password?</a>
                    </span>
                </div>
                <button type="submit" class="btn">Sign In</button>
            </form>
        </div>

    </body>
</html>