@page "/Login"
@model Elias.Admin.Pages.LoginModel
@{
    ViewData["Title"] = "ورود";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود به پنل</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="box">
        <form asp-page="Login" method="post">
            <label asp-for="login.Email">Email</label><br>
            <input type="text" asp-for="login.Email" id="uname" placeholder="Enter Email" class="input-box">
            <span asp-validation-for="login.Email"></span>
            <br><br>
            <label asp-for="login.Password">Password</label><br>
            <input type="password" asp-for="login.Password" id="uname" placeholder="Enter Password" class="input-box">
            <span asp-validation-for="login.Password"></span>
            <br>
            <div class="forget">
                <label class="checkbox-label">
                    <input asp-for="login.RememberMe" type="checkbox">
                    <span class="checkbox-custom "></span>
                    <span class="label-text">Remember me</span>
                </label>
            </div>
            <button type="submit" class="btn">ورود به پنل ادمین</button>
        </form>
    </div>

</body>
</html>
