<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">

            <li>
                <a href="/"><i class="fa fa-dashboard fa-fw"></i>صفحه ی اصلی</a>
            </li>
            <li>
                <a href="/SkillGroup"><i class="fa fa-dashboard fa-fw"></i> گروه مهارت</a>
            </li>
            <li>
                <a href="/Skill"><i class="fa fa-dashboard fa-fw"></i> مهارت</a>
            </li>
            <li>
                <a href="/Education"><i class="fa fa-dashboard fa-fw"></i> تحصیلات</a>
            </li>
            <li>
                <a href="/Experience"><i class="fa fa-dashboard fa-fw"></i> تجربیات</a>
            </li>
            <li>
                <a href="/Certificate"><i class="fa fa-dashboard fa-fw"></i> مدارک</a>
            </li>
            <li>
                <a href="/PortfolioGroup"><i class="fa fa-dashboard fa-fw"></i> گروه نمونه کارها</a>
            </li>
            <li>
                <a href="/Portfolio"><i class="fa fa-dashboard fa-fw"></i> نمونه کارها</a>
            </li>
            <li>
                <a href="/BlogGroup"><i class="fa fa-dashboard fa-fw"></i> گروه بلاگ</a>
            </li>
            <li>
                <a href="/Blog"><i class="fa fa-dashboard fa-fw"></i> بلاگ</a>
            </li>
     @*        <li>
                <a href="/BlogComment"><i class="fa fa-dashboard fa-fw"></i>نظرات بلاگ</a>
            </li> *@
            <li>
                <a href="/CommentMe"><i class="fa fa-dashboard fa-fw"></i>پیام های من</a>
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>
