@page
@model Elias.Admin.Pages.Education.IndexModel
@{
    ViewData["Title"] = "لیست گروه مهارت";
}
@* @inject ISkillGroupService skillGroup *@
<div class="box-body">
    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
            <div class="col-sm-12">
                <div class="col-md-12" style="margin:10px 0;">
                    <a asp-page="AddExperience" class="btn btn-success">افزودن تجربه جدید</a>
                </div>
                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                    <thead>
                        <tr role="row">
                            <th>نام تجربه</th>
                            <th>تاریخ تجربه</th>
                            <th>توضیحات تجربه</th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                    <tbody>
                       @*  @if (skillGroup.IsSkillGroupExist())
                        {
                            @foreach (var item in Model.SkillGroups)
                            {
                                <tr role="row" class="even">
                                    <td>@item.SkillGroupName</td>
                                    <td>
                                        <a asp-page="UpdateExperience" asp-route-Id="@item.Id" class="btn btn-warning btn-sm">ویرایش</a>
                                        <a asp-page="RemoveExperience" asp-route-Id="@item.Id" class="btn btn-danger btn-sm">حذف</a>
                                    </td>
                                </tr>
                            }
                        } *@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
