<section id="about" class="shadow bg-light radius-2 padding-dy">
    <partial name="_AboutMeInfo" />
    <partial name="_AboutMeSkill" />
    <partial name="_AboutMeExprince" />
    <partial name="_AboutMeEducation" />
    <partial name="_AboutMeServices" />
    <partial name="_AboutMeMoreComments" />
    <partial name="_AboutMeCertificates" />
    <div class="row">
        <div class="col-md-12 mt-6 pt-6 mb-6">
            <hr class="divider divider-lg divider-center ">
        </div>
    <partial name="_AboutMeDownloadPrintResumeh" />
    </div>
</section>
