<section id="about" class="shadow bg-light radius-2 padding-dy">
    <partial name="_AboutMeInfo" />
    <partial name="_AboutMeSkill" />
    <partial name="_AboutMeExprince" />
    <partial name="_AboutMeEducation" />
    @* <partial name="_AboutMeServices" /> *@
    @* <partial name="_AboutMeMoreComments" /> *@
    <partial name="_AboutMeCertificates" />
    <partial name="_AboutMeDownloadPrintResumeh"/>
</section>
