<div class="row mb-5 mt-6">
    <div class="col">
        <h6 class="font-weight-700  mb-0 text-uppercase mb-2">مهارت‌های حرفه‌ای</h6>
        <hr class="divider divider-left divider-lg float-left">
    </div>
</div>
<div class="row vc skill des mb-5">
    <div class="col-md-11">
        <ul class="skills-list list-inline mb-0">
            <li>
                <h6 class="font-weight-600 font-size-14 text-uppercase">فوتوشاپ</h6>
                <div class="progress mb-3">
                    <div class="percentage">
                        75%
                    </div>
                </div>
            </li>
            <li>
                <h6 class="font-weight-600 font-size-14 text-uppercase">ایلوستریتور</h6>
                <div class="progress mb-3">
                    <div class="percentage">
                        85%
                    </div>
                </div>
            </li>
            <li>
                <h6 class="font-weight-600 font-size-14 text-uppercase">ایندیزاین</h6>
                <div class="progress">
                    <div class="percentage">
                        70%
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-1">
        <div class="title des font-size-14">
            <span>دیزاین</span>
        </div>
    </div>
</div>
<div class="row vc skill dev mb-5">
    <div class="col-md-11">
        <ul class="skills-list list-inline mb-0">
            <li>
                <h6 class="font-weight-600 font-size-14 text-uppercase">اچ تی ام ال ، سی اس اس</h6>
                <div class="progress mb-3">
                    <div class="percentage">
                        90%
                    </div>
                </div>
            </li>
            <li>
                <h6 class="font-weight-600 font-size-14 text-uppercase">جاوااسکریپت</h6>
                <div class="progress mb-3">
                    <div class="percentage">
                        75%
                    </div>
                </div>
            </li>
            <li>
                <h6 class="font-weight-600 font-size-14 text-uppercase">پی اچ پی - مای اسکیوال</h6>
                <div class="progress">
                    <div class="percentage">
                        90%
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-1">
        <div class="title dev font-size-14">
            <span>کدزنی</span>
        </div>
    </div>
</div>
<div class="row vc skill prs">
    <div class="col-md-11">
        <ul class="skills-list list-inline mb-0">
            <li>
                <h6 class="font-weight-600 font-size-14 text-uppercase"> رسپانسیو</h6>
                <div class="progress mb-3">
                    <div class="percentage">
                        85%
                    </div>
                </div>
            </li>
            <li>
                <h6 class="font-weight-600 font-size-14 text-uppercase"> خلاقانه</h6>
                <div class="progress mb-3">
                    <div class="percentage">
                        95%
                    </div>
                </div>
            </li>
            <li>
                <h6 class="font-weight-600 font-size-14 text-uppercase"> چندکاره</h6>
                <div class="progress">
                    <div class="percentage">
                        70%
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-1">
        <div class="title prs font-size-14">
            <span>ویژگی‌ها</span>
        </div>
    </div>
</div>
