<div class="row mb-5">
    <div class="col">
        <h6 class="font-weight-700  mb-0 text-uppercase mb-2"> نظرات(4)</h6>
        <hr class="divider divider-left divider-lg float-left">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-12">
        <ul class="comments-list list-inline mb-0">
            <li class="list-inline-item mr-0">
                <div class="comment">
                    <div class="media align-items-center mb-3">
                        <div class="radius-3 shadow-inner">
                            <div class="  p-1  ">
                                <div class="shadow radius-3 p-1">
                                    <img src="assets/img/avatar/4.jpg" alt="" class="avatar-sm  rounded-circle img-fluid ">
                                </div>
                            </div>
                        </div>
                        <div class="ml-2 media-body">
                            <a class="d-block text-dark mb-0 font-weight-500 font-size-14" href="#">بنیامین غریب</a>
                            <small class="d-block text-alt font-size-13">10 آذر 1398</small>
                        </div>
                    </div>
                    <p>
                        کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان است
                    </p>
                    <a href="#">
                        <span class="far fa-comments mr-1"></span>
                        پاسخ
                    </a>
                </div>
            </li>
            <li class="list-inline-item">
                <div class="comment">
                    <div class="media align-items-center mb-3">
                        <div class="radius-3 shadow-inner">
                            <div class="  p-1  ">
                                <div class="shadow radius-3 p-1">
                                    <img src="assets/img/avatar/3.jpg" alt="" class="avatar-sm  rounded-circle img-fluid ">
                                </div>
                            </div>
                        </div>
                        <div class="ml-2 media-body">
                            <a class="d-block text-dark mb-0 font-weight-500 font-size-14" href="#">زکریا راضی</a>
                            <small class="d-block text-alt font-size-13">10 آذر 1398</small>
                        </div>
                    </div>
                    <p>
                        با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                    </p>
                    <a href="#">
                        <span class="far fa-comments mr-1"></span>
                        پاسخ
                    </a>
                </div>
                <div class="comment">
                    <div class="media align-items-center mb-3">
                        <div class="radius-3 shadow-inner">
                            <div class="  p-1  ">
                                <div class="shadow radius-3 p-1">
                                    <img src="assets/img/avatar/2.jpg" alt="" class="avatar-sm  rounded-circle img-fluid ">
                                </div>
                            </div>
                        </div>
                        <div class="ml-2 media-body">
                            <a class="d-block text-dark mb-0 font-weight-500 font-size-14" href="#">یوسف عطا</a>
                            <small class="d-block text-alt font-size-13">10 آذر 1398</small>
                        </div>
                    </div>
                    <p>
                        در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                    </p>
                    <a href="#">
                        <span class="far fa-comments mr-1"></span>
                        پاسخ
                    </a>
                </div>
            </li>
            <li class="list-inline-item mr-0">
                <div class="comment">
                    <div class="media align-items-center mb-3">
                        <div class="radius-3 shadow-inner">
                            <div class="  p-1  ">
                                <div class="shadow radius-3 p-1">
                                    <img src="assets/img/avatar/1.jpg" alt="" class="avatar-sm  rounded-circle img-fluid ">
                                </div>
                            </div>
                        </div>
                        <div class="ml-2 media-body">
                            <a class="d-block text-dark mb-0 font-weight-500 font-size-14" href="#">صوفیا خوشحال</a>
                            <small class="d-block text-alt font-size-13">10 آذر 1398</small>
                        </div>
                    </div>
                    <p>
                        حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                    </p>
                    <a href="#">
                        <span class="far fa-comments mr-1"></span>
                        پاسخ
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row mb-5 mt-6">
    <div class="col">
        <h6 class="font-weight-700  mb-0 text-uppercase mb-2">نظر بگذارید</h6>
        <hr class="divider divider-left divider-lg float-left">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-12">
        <form action="#">
            <div class="row">
                <div class="col-12">
                    <div class="outer radius-2 mb-3">
                        <textarea class="radius-2 inner form-control  resize-n " rows="6" name="description" placeholder=" نظر خود را بنویسید ..."></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="outer radius-2 mb-3">
                        <input class="inner form-control  h-100 " name="name" placeholder="نام" type="text">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="outer radius-2 mb-3">
                        <input class="inner form-control  h-100 " name="email" placeholder="ایمیل" type="email">
                    </div>
                </div>
                <div class="col-12">
                    <div class="outer radius-2 d-inline-block text-center">
                        <a class="inner radius-2 d-block py-2 px-4 font-size-15 font-weight-500" href="blog.html">
                            ارسال نظر
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
