<div class="row justify-content-center">
    <div class="col-md-12">
        <form action="#">
            <div class="row">
                <div class="col-12">
                    <div class="outer radius-2 mb-3">
                        <textarea class="radius-2 inner form-control  resize-n " rows="6" name="description" placeholder=" نظر خود را بنویسید ..."></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="outer radius-2 mb-3">
                        <input class="inner form-control  h-100 " name="name" placeholder="نام" type="text">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="outer radius-2 mb-3">
                        <input class="inner form-control  h-100 " name="email" placeholder="ایمیل" type="email">
                    </div>
                </div>
                <div class="col-12">
                    <div class="outer radius-2 d-inline-block text-center">
                        <a class="inner radius-2 d-block py-2 px-4 font-size-15 font-weight-500" href="blog.html">
                            ارسال نظر
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
