@using Elias.Application.Interfaces
@using Elias.Data.DTOs.UserDto

@inject IUserService _user
@{
    ResumehDto resumeh = await _user.GetResumeh();
}
<section id="contact" class="shadow bg-light radius-2 padding-dy">
    <div class="row mb-5">
        <div class="col">
            <h6 class="font-weight-700  mb-0 text-uppercase mb-2">لوکیشن</h6>
            <hr class="divider divider-left divider-lg float-left">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="item">
                <div class="bounce-circle map-marker"></div>
                <a class="radius-1 shadow-inner d-block " href="https://goo.gl/maps/VzdvTYgNeqtEtVJT7">
                    <div class="  p-2  ">
                        <div class="shadow radius-1">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d239.2330776499315!2d58.79721231423926!3d36.22190777683579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1676386979385!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-6">
        <div class="col">
            <h6 class="font-weight-700  mb-0 text-uppercase mb-2">اطلاعات تماس</h6>
            <hr class="divider divider-left divider-lg float-left">
        </div>
    </div>
    <partial name="_ContactMeAddress" />
    <div class="row mb-5 mt-6">
        <div class="col">
            <h6 class="font-weight-700  mb-0 text-uppercase mb-2">ارسال ایمیل</h6>
            <hr class="divider divider-left divider-lg float-left">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <partial name="_ContactMeText" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-6 pt-6 mb-6">
            <hr class="divider divider-lg divider-center ">
        </div>
        <partial name="_ResumeDownload" />
    </div>
</section>
