@using Elias.Application.Interfaces
@using Elias.Data.DTOs.UserDto

@inject IUserService _user
@{
    HeaderDto Header =  _user.GetHeaderInfo();
}


<header class="shadow bg-dark radius-2 px-4 py-6 text-center ">
    <div class="profile-image">
        <div class="profile-image-border">
            <img class="rounded-circle" src="/ProfilePic/@Header.UserImage" alt="@Header.UserImage">
        </div>
    </div>
    <div class="mt-4 mb-5">
        <h3 class="font-weight-600 mb-0">
            @Header.Name <mark>
                @Header.Familly
            </mark>
        </h3>
        <h6 class="text-alt">@Header.MainSkill</h6>
    </div>
    <partial name="_DarkNav" />
</header>
