@using Elias.Application.Interfaces
@using Elias.Data.DTOs.UserDto
@inject IUserService _User
@{
    MainInfoDto Main = await _User.GetMainInfo();
}

<section id="home" class="shadow bg-light radius-2 padding-dy text-center ">
    <div class="row v-height-50 v-centred">
        <div class="col-md-12">
            <h1 class="font-weight-600 mb-0">
               @Main.Name <mark>
                    @Main.Familly
                </mark>
            </h1>
            <div class="text-rotation">
                <div class="item">
                    <h6 class="h5 text-muted mt-1 mb-0 "> <span class=" text-rotating">@Main.Skills</span></h6>
                </div>
            </div>
            <partial name="_Socials" />
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 mb-6">
            <hr class="divider divider-lg divider-center ">
        </div>
        <partial name="_ResumeDownload" />
    </div>
</section>
