@using Elias.Application.Interfaces
@using Elias.Data.DTOs.PortfolioDto
@inject IPortfolioService _Portfolio
@inject IPortfolioGroupService _Group
@{
    List<GetPortfolioForShowByGroupIdDto> portfolio = _Portfolio.GetPortfolio();

    List<PortfolioGroupDto> group = _Group.GetPortfolioGroupList();
}



<section id="portfolio" class="shadow bg-light radius-2 padding-dy work">
    <div class="row mb-5">
        <div class="col">
            <h6 class="font-weight-700  mb-0 text-uppercase mb-2">کارهای من</h6>
            <hr class="divider divider-left divider-lg float-left">
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <ul class="filter mb-0 pl-0">
                @foreach (var item in portfolio.GroupBy(p => p.GroupName))
                {
                    <li class=" radius-2 mb-3 mb-md-0">
                            <a data-filter="all" class=" inner radius-2">
                                @item.Key
                            </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 mb-5">
            <hr class="divider divider-md divider-center ">
        </div>
    </div>
    <div class="row ">
        @foreach (var item in portfolio)
        {
            <div class="col-lg-4 mb-5">
                <div class="item web">
                    <a class="radius-1 shadow-inner  hover-effect d-block" data-overlay="rgba(52,58,64,.6)" href="/ProjectSingle/@item.Id">
                        <span class="hover-effect-container">
                            <span class="hover-effect-icon ">
                                <span class=" fas fa-eye top-icon "></span>
                            </span>
                        </span>
                        <div class="  p-2  ">
                            <div class="shadow radius-1">
                                <img class=" radius-1" alt="" src="/PortfolioImage/@item.MainPicure">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12 mt-6 pt-6 mb-6">
            <hr class="divider divider-lg divider-center ">
        </div>
        <partial name="_ResumeDownload" />
    </div>
</section>


