@using Elias.Application.Interfaces
@using Elias.Data.DTOs.UserDto
@inject IUserService _user
@{
    SocialDto Social = await _user.GetSocialInfo();
}

<ul class="list-inline  mb-0 mt-4">

    <li class="list-inline-item mr-1 outer radius-2 mb-2 mb-lg-0">
        <a class="inner btn btn-round btn-icon" href="@Social.LinkedIn">
            <span class="fab fa-linkedin btn-icon-inner"></span>
        </a>
    </li>
    <li class="list-inline-item mx-0 outer radius-2 mb-2 mb-lg-0">
        <a class="inner btn btn-round btn-icon" href="@Social.GitHub">
            <span class="fab fa-github btn-icon-inner"></span>
        </a>
    </li>
    <li class="list-inline-item mx-0 outer radius-2 mb-2 mb-lg-0">
        <a class="inner btn btn-round btn-icon" href="@Social.Skype">
            <span class="fab fa-skype btn-icon-inner"></span>
        </a>
    </li>
</ul>
