
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Admin</title>

<!-- Core CSS - Include with every page -->
<link href="/Admin/css/bootstrap-rtl.css" rel="stylesheet">
<link href="/Admin/font-awesome/css/font-awesome.css" rel="stylesheet">

<!-- Page-Level Plugin CSS - Dashboard -->
<link href="/Admin/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
<link href="/Admin/css/plugins/timeline/timeline.css" rel="stylesheet">

<!-- SB Admin CSS - Include with every page -->
<link href="/Admin/css/sb-admin.css" rel="stylesheet">
