@page
@model Elias.Admin.Pages.Education.CreateEducationModel
@{
    ViewData["Title"] = "ثبت تحصیلات جدید";
}

<div id="wrapper">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">ثبت تحصیلات جدید</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <form asp-page="CreateEducation" method="post">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            اطلاعات تحصیلات
                        </div>

                        <div class="panel-body">
                            <div class="form-group">
                                <label>موضوع تحصیل</label>
                                <input type="text" asp-for="education.EducationCertificate" class="form-control">
                                <span asp-validation-for="education.EducationCertificate"></span>
                            </div>
                            <div class="form-group">
                                <label>تازیخ تحصیل</label>
                                <input type="text" asp-for="education.Since" class="form-control">
                                <span asp-validation-for="education.Since"></span>
                            </div>
                            <div class="form-group">
                                <label>توضیحات</label>
                                <input type="text" asp-for="education.Description" class="form-control">
                                <span asp-validation-for="education.Description"></span>
                            </div>
                            <button type="submit" class="btn btn-success">ثبت تحصیلات جدید</button>

                        </div>

                    </div>
                </form>
            </div>
            <!-- /.col-lg-4 -->

        </div>

    </div>
    <!-- /#page-wrapper -->

</div>
